*{
    margin: 0px;
}

body {
    box-sizing: border-box;
    border: 30px solid rgb(125, 149, 144);
}

.header1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(119, 67, 45);
}

.logo{ 
    width: 70px;
    height: 70pxpx;
}

table, tr, td {
    border:solid;
    border-color: rgb(125, 149, 144);
    border-width: 10px;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(119, 67, 45);
}